<nav class="navigation">
  <section class="container">

	
    {{ if or .Site.Menus.main .Site.IsMultiLingual }}


      <ul class="navigation-list">
		  <li class="navigation-item">
		  <a class="navigation-link" href="{{ .Site.BaseURL }}">
			<i class="fa fa-home"></i></a>
		  </li>
        {{ with .Site.Menus.main}}
          {{ range sort . }}
            <li class="navigation-item">
              <a class="navigation-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
        {{ if .Site.IsMultiLingual }}
          {{ $node := . }}
          {{ .Scratch.Set "separator" true }}
          {{ range (default .Site.Home.AllTranslations .Translations) }}
            {{ if ne $.Site.Language .Language }}
              {{ if $node.Scratch.Get "separator" }}
                <li class="navigation-item menu-separator">
                  <span>|</span>
                </li>
                {{ $node.Scratch.Set "separator" false }}
              {{ end }}
              <li class="navigation-item">
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
              </li>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </section>
</nav>
