<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
  <div class="about" style="text-align: center">
  

  <a href="{{ .Site.BaseURL }}" data-animate-hover="pulse" class="email" title="E-mail">
   
 

    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
      {{ with .Site.Params.avatarURL }}
        <div class="avatar"><img src={{"images/avatar.png" | relURL }} alt="avatar"></div>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
      <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
	
	 </a>
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
	
	{{ partial "social_buttons_in_sidebar.html" . }}

	
  </div>
  </div>
</div>
